In [9]:
def sqr_num(num):
    return num**2

#Option 1 
my_nums = [1,2,3,4,5]
map_list = map(sqr_num, my_nums)
for item in map_list:
    print(item)

#Option 2
list(map(sqr_num, my_nums))

1
4
9
16
25

[1, 4, 9, 16, 25]

In [12]:
def splicer(my_string):
    if len(my_string) % 2 == 0:
        return 'EVEN'
    else:
        return my_string[0]

my_names = ['Mary', 'Robert', 'Allen', 'Jose']
list(map(splicer, my_names))

['EVEN', 'EVEN', 'A', 'EVEN']

In [15]:
def check_even(num):
    return num % 2 == 0

my_nums = [1,2,3,4,5,6]

#I want only certain numbers of the list to be calculated (filter)
list(filter(check_even, my_nums))

[2, 4, 6]

In [17]:
for n in filter(check_even, my_nums):
    print(n)

2
4
6

In [20]:
#lambda functions: use only once
square = lambda num: num ** 2
square(4)

16

In [23]:
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25, 36]

In [24]:
#Search even numbers
list(filter(lambda n: n % 2 == 0, my_nums))

[2, 4, 6]

In [3]:
import numpy as np
a = np.array([1,2,3,4,5])
b= np.arange(0,10,2)
c = a+b
print(c)
print(c[4])

[ 1  4  7 10 13]
13

In [13]:
import pandas as pd
df1 = pd.DataFrame({'key':['a','b','c','d'], 'value':[1,2,3,4]})
df2 = pd.DataFrame({'key':['a','b','j','b'], 'value':[1,2,3,4]})
df1
df2
df3 = df1.merge(df2, on='key', how='left')
df3

  key  value_x  value_y
0   a        1      1.0
1   b        2      2.0
2   b        2      4.0
3   c        3      NaN
4   d        4      NaN

In [14]:
x=True
y=False
z=False

if x or y and z:
    print('1')
else:
    print('2')

1